
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');




.tableau{

    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-template-rows: repeat(7 , 1fr);
    width:600px;
    
    margin: auto;
    padding: 5px;
    box-shadow: 1px 1px 5px 1px rgb(240, 234, 234);
    grid-template-areas: 
    "header main" 
    "header main"
    "header main"
    "article section"
    "article section"
    "nav section"
    "nav section"
    "aside footer"
    "aside footer"
    ;
    
}

header{
    background-color: rgb(252, 122, 112);
    grid-area: header;
    font-size: 20px;
    font-weight: bold;
    font-family:'Open Sans Condensed', sans-serif;
    text-align: center;
    color:white;
    
}
.cercle{
    position: relative;
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border:3px solid white;
    margin-left: 5px;
    margin-top: 80px;
    
}
.statut{
    color: rgb(92, 84, 84);
    text-align: center;
    padding: 10px;
    font-size: 15px;
    
}

.texteint{
    
    font-size: 15px;
    color:white;
}  

article{
    background-color: rgb(252, 122, 112);
    ;
    grid-area: article;
    grid-column: 1;
    color: rgb(92, 84, 84);
    text-align: center;
    padding: 10px;
}
nav{
    background-color: rgb(252, 122, 112);
    grid-area: nav;
    text-align: center;
    color: rgb(92, 84, 84);
    padding: 10px;
}
aside{
    background-color: rgb(252, 122, 112);
    grid-area: aside;
    color: rgb(92, 84, 84);
    text-align: center;
    padding: 10px;
}

.titre{
    color: rgb(252, 122, 112);
    text-align: left;
}
div > p {
    font-size: 15px;
    text-align: left;
    color: black;
    margin-left: 30px;
    font-family:'Open Sans Condensed', sans-serif;
}

div>ul{
    font-size: 12px;
    text-align: left;
}
li{
    list-style-type: none; 
}
li:before {
    
	content: "→ "; 
}
main{
    
    grid-area: main;
    grid-column: 2;
    grid-row: 1/4;
    color: rgb(92, 84, 84);
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    
    
}

section{
    
    grid-area: section;
    
    grid-column: 2;
    grid-row: 4/7;
    color: rgb(92, 84, 84);
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
}
footer{
        
        grid-area: footer;
        grid-column: 2;
        grid-row: 7/10;
        color: rgb(92, 84, 84);
        text-align: center;
        padding-right: 30px;
        padding-left: 30px;
    }

    @media only screen and (max-width: 950px) {
        
        .tableau{

            display: grid;
            grid-template-columns: 1fr  ;
            grid-template-rows: repeat(6 , 1fr);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            padding: 5px;
            
            grid-template-areas: 
            "header " 
            "article "
            "nav"
            "section"
            "aside "
            "footer"
            ;
            
        }
        header{
            background-color: rgb(252, 122, 112);
            grid-area: header;
            font-size: 20px;
            font-weight: bold;
            font-family:'Open Sans Condensed', sans-serif;
            text-align: center;
            color:white;
            width: 100%;
            grid-column: 100%;
            
        }
        article{
            background-color: rgb(252, 122, 112);
            ;
            grid-area: article;
            grid-column: 100%;
            width: 100%;
            color: rgb(92, 84, 84);
            text-align: center;
            padding: 10px;
        }
        main{
    
            grid-area: main;
            
            color: rgb(92, 84, 84);
            text-align: center;
            padding-right: 30px;
            padding-left: 30px;
            
            
        }
        
        section{
            
            grid-area: section;
            
            color: rgb(92, 84, 84);
           
            padding-right: 30px;
            padding-left: 30px;
        }
        footer{
        
            grid-area: footer;
            
            color: rgb(92, 84, 84);
            text-align: center;
            padding-right: 30px;
            padding-left: 30px;
        }
        .titre{
            color: rgb(252, 122, 112);
            
        }
        div > p {
            font-size: 15px;
            
            color: black;
            
            font-family:'Open Sans Condensed', sans-serif;
        }
        
        div>ul{
            font-size: 12px;
            
        }
        li{
            list-style-type: none; 
        }
        li:before {
            
            content: "→ "; 
        }
    
      
    }